

.buttons{
  max-width: 210px;
  margin:2px;
  padding: 2px;
}

.operators{
  margin: 2px;
  padding: 2px;
}
.blackScreen{
  background-color: black;
  color: azure;
  max-width: 300px;
  height: 55px;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}
.results{
  position: relative;
  left: 197px;
  bottom: 259px;
}
.result{
  background-color:#668cff;
}
.result:hover{
  background-color:  #4747d1;
}

.calculator{
  border-style: solid;
  border-color: gainsboro;
  border-radius: 8px;
  max-width: fit-content;
  padding-left: 20px;
  padding-right: 20px;
  height: 450px;
}

.button:hover{
  background-color: gainsboro;
}
.ac{
  background-color: #FA5858;
}
.ac:hover{
  background-color: darkred;
}
.op{
  background-color: white;
}
.op:hover{
  background-color: gainsboro;
}